// primary colors
$violet: hsl(235, 69%, 61%);
$light_violet: hsl(235, 82, 77);
$very_dark_blue: hsl(219, 29, 14);
$midnight: hsl(220, 29, 10);

// secondary colors
$white : #ffffff;
$light_grey: #f4f6f8;
$grey: #9daec2;
$dark_grey: #6e8098;

$padding: 1.5em;
$border-radius: 8px;
$box-shadow: 0 0 3px rgba(0,0,0,.2);
$logo-radius: 17px;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    font-weight: 400;
}

body {
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;

    .dark-app {
        background: $midnight;
        color: $white;

        div.popover-wrapper {
            
            div.filter-wrapper {
                background: $very_dark_blue;
            color: $white;
            }
        }
        div.navigation-wrapper {
            div.details-container {
                background: $very_dark_blue;
                color: $white;

                div.company-details {
                    color: $white;
                }
            }
        }
        div.search-container {
            background: $very_dark_blue;
            input[type=text] {
                color: #fff;
                // &::placeholder {
                //     // color: $white;
                // }
            }

        }

        main.main {
            &.details-main {
                div.description-wrapper {
                    background: $very_dark_blue;
                    color: $white;
                }
            }
            div.jobs-container {
                div.job-wrapper {
                    background: $very_dark_blue;
                }
            }
        }
    }

    .light-app {
        background: $white;
        color: $very_dark_blue;

        main.main {
            color: $very_dark_blue;
            
        }
    }

    .app {
        min-height: 100vh;
        transition: 300ms;
    }
}

button,input {
    background: transparent;
    font-size: 1em;
}

h1 {
    font-size: 28px;
    line-height: 34px;
}

h2 {
    font-size: 24px;
    line-height: 29px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
}

h4 {
    font-size: 14px;
    line-height: 18px;
}

div.popover-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    div.filter-wrapper {
        background: $white;
        border-radius: $border-radius;
        width: 80%;
        div.filter-head {
            padding: $padding;
            display: grid;
            grid-template-columns:20px 1fr;
            grid-gap: 10px;
            align-items: center;
            border-bottom: 1px solid rgba(0,0,0,.18);
        }

        div.filter-body {
            padding: $padding;
            div.filter-body-head {
                margin-bottom: 3em;
                label.custom-label-wrapper {
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    font-size: 1.2em;
                    input[type=checkbox] {
                        position: absolute;
                        height: 0;
                        width: 0;
                        opacity: 0;

                        &:checked ~ span.custom-checkmark {
                            &::after {
                                opacity: 1;
                                transition: 300ms;
                            }
                        }
                    }

                    span.custom-checkmark {
                        display: inline-block;
                        height: 30px;
                        width: 30px;
                        border-radius: $border-radius;
                        background: $grey;
                        margin-right: 10px;
                        position: relative;


                        &::after {
                            position: absolute;
                            content: url(../assets/desktop/icon-check.svg);
                            height: 30px;
                            width: 30px;
                            background: $violet;
                            border-radius: $border-radius;
                            display: flex;
                            opacity: 0;
                            align-items: center;
                            justify-content: center;
                            transition: 300ms;
                        }
                    }
                }
            }

            button.btn {
                padding: $padding;
                display: block;
                background: $violet;
                color: $white;
                width: 100%;

                font-weight: bold;
                border-radius: $border-radius;
            }
        }
    }
}

div.navigation-wrapper {
    background: $violet;
    color: $white;
    padding: $padding;
    height: 136px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;


    // div.details-container
    div.details-container {
        position: relative;
        left: 0;
        padding: $padding;
        top: 50px;
        background: $white;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        padding-top: 5px;
        div.company-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $midnight;
            text-align: center;

            div.company-name {
                h1 {
                    margin-bottom: .3em;
                }

                p {
                    margin-bottom: 2em;
                }

                
            }
            a.btn-link {
                padding: $padding;
                display: inline-block;
                background: $light_grey;
                font-weight: bold;
                border-radius: $border-radius;
                font-size: 1em;
            }
            div.company-image {
                height: 60px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $border-radius;
                position: relative;
                top: -30px;
            }

        }
    }
    
    nav.navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        div.toggle-wrapper {
            display: flex;
            width: 120px;
            justify-content: space-between;
            align-items: center;
        }

        // div.toggleContainer 

        div.toggle-container {
            label {
                width: 60px;
                    height: 30px;
                    background: $white;
                    padding: 3px;
                    border-radius: 15px;
                    position: relative;
                    display: flex;
                    align-items: center;
                input[type=checkbox] {
                    position: absolute;
                    opacity: 0;
                    height: 0;
                    width: 0;
                    &:checked ~ span.toggle-container{
                            -webkit-transform: translateX(60px - 25px);
                            transform: translateX(60px - 25px);
                            transition: transform 300ms;
                            -webkit-transition: transform 300ms;
                            -webkit-transition: -webkit-transform 300ms;
                        
                    }
                }

                span.toggle-container {
                        display: inline-block;
                        position: absolute;
                        height: 18px;
                        width: 18px;
                        background: $violet;
                        border-radius: 25px;
                        transform: translateX(0px);
                        -webkit-transform: translateX(0px);
                        transition: transform 300ms;
                        -webkit-transition: transform 300ms;
                        -webkit-transition: -webkit-transform 300ms;
                }
                }
            }
        }
    }

    div.search-container {
        height: 80px;
        background: $white;
        width: 100%;
        position: relative;
        top: 50px;
        padding: 0 $padding;
        display: flex;
        
        align-items: center;
        // justify-content: space-evenly;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        div.mobile-search {
            display: grid;
            align-items: center;
            width: 100%;
            grid-template-columns: 1fr 48px 48px;
            button {
                height: 48px;
                width: 48px;
                &.mobile-submit {
                    background: $violet;
                    border-radius: $border-radius;
                    font-weight: bold;
                }
            }
        }
    }

    main.main {

        
        padding: 8em 1.5em;
        &.details-main {
            padding-top: 270px;
            div.description-wrapper {
                box-shadow: $box-shadow;
                padding: $padding;

                div.description-top {
                    margin-bottom: 3em;
                    h1 {
                        margin: 10px 0;
                    }

                    p.location {
                        color: $violet;
                    }

                    div.d-container {
                        margin-bottom: 3em;
                    }

                    a.apply-now {
                        display: block;
                        padding: $padding;
                        text-align: center;
                        background: $violet;
                        border-radius: $border-radius;
                        color: $white;
                        font-weight: bold;
                        text-transform: capitalize;
                        
                    }
                }

                div.description-bottom {
                    margin-bottom: 1em;

                    p.description {
                        margin-bottom: 1.5em;
                    }

                    div.requirements,div.role {
                        h2 {
                            margin-bottom: 1em;
                        }
                    p,div.items{
                            margin-bottom: 1.5em;
                            ul {
                                list-style: none;
                               
                                li {
                                    margin-bottom: 1em;
                                }
                                li::before {
                                    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                                    color: $violet; /* Change the color */
                                    font-weight: bold; /* If you want it to be bold */
                                    display: inline-block; /* Needed to add space between the bullet and the text */
                                    width: 1em; /* Also needed for space (tweak if needed) */
                                    margin-left: -1em; /* Also needed for space (tweak if needed) */
                                  } /* Remove default bullets */
                              }

                              ol {
                                list-style: none;
                                counter-reset: l-counter 0;
                                li {
                                    margin-bottom: 1em;
                                    counter-increment: l-counter 1;
                                }
                                li::before {
                                    content: counter(l-counter);  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                                    color: $violet; /* Change the color */
                                    font-weight: bold; /* If you want it to be bold */
                                    display: inline-block; /* Needed to add space between the bullet and the text */
                                    width: 1em; /* Also needed for space (tweak if needed) */
                                    margin-left: -1em; /* Also needed for space (tweak if needed) */
                                  } /* Remove default bullets */
                              }
                              
                               
                        }
                    }
                }
            }
        }
        div.jobs-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 3.5em;
            div.job-wrapper {
                background: $white;
                box-shadow: $box-shadow;
                padding: $padding;
                border-radius: $border-radius;
                div.logo-wrapper {
                    height: 60px;
                    width: 60px;
                    border-radius: $logo-radius;
                    padding: $padding;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    top:  -49px;
                }

                div.details-wrapper {
                    margin-bottom: 2em;
                    h3 {
                        font-weight: 400;
                        color: $dark_grey;
                    }

                    h2.job-title {
                        margin: .4em 0;
                    }
                }

                div.location-wrapper {
                    h3 {
                        a {
                            color: $violet;
                        }
                    }
                }
            }
        }
    }
