@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  font-weight: 400;
}

body {
  font-size: 16px;
  font-family: 'Kumbh Sans', sans-serif;
}

body .dark-app {
  background: #121721;
  color: #ffffff;
}

body .dark-app div.search-container {
  background: #19212e;
}

body .dark-app div.search-container input[type=text] {
  color: #fff;
}

body .dark-app main.main div.jobs-container div.job-wrapper {
  background: #19212e;
}

body .light-app {
  background: #ffffff;
  color: #19212e;
}

body .app {
  min-height: 100vh;
  -webkit-transition: 300ms;
  transition: 300ms;
}

button, input {
  background: transparent;
  font-size: 1em;
}

h1 {
  font-size: 28px;
  line-height: 34px;
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  line-height: 18px;
}

div.navigation-wrapper {
  background: #5762e0;
  color: #ffffff;
  padding: 1.5em;
  height: 136px;
  position: relative;
}

div.navigation-wrapper nav.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.navigation-wrapper nav.navigation div.toggle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.navigation-wrapper nav.navigation div.toggle-container label {
  width: 60px;
  height: 30px;
  background: #ffffff;
  padding: 3px;
  border-radius: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.navigation-wrapper nav.navigation div.toggle-container label input[type=checkbox] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

div.navigation-wrapper nav.navigation div.toggle-container label input[type=checkbox]:checked ~ span.toggle-container {
  -webkit-transform: translateX(35px);
  transform: translateX(35px);
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transition: transform 300ms;
  -webkit-transition: -webkit-transform 300ms;
}

div.navigation-wrapper nav.navigation div.toggle-container label span.toggle-container {
  display: inline-block;
  position: absolute;
  height: 18px;
  width: 18px;
  background: #5762e0;
  border-radius: 25px;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transition: transform 300ms;
  -webkit-transition: -webkit-transform 300ms;
}

div.search-container {
  height: 80px;
  background: #ffffff;
  width: 100%;
  position: relative;
  top: 50px;
  padding: 0 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

div.search-container div.mobile-search {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-grid-columns: 1fr 48px 48px;
      grid-template-columns: 1fr 48px 48px;
}

div.search-container div.mobile-search button {
  height: 48px;
  width: 48px;
}

div.search-container div.mobile-search button.mobile-submit {
  background: #5762e0;
  border-radius: 8px;
  font-weight: bold;
}

main.main {
  padding: 8em 1.5em;
}

main.main div.jobs-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 3.5em;
}

main.main div.jobs-container div.job-wrapper {
  background: #ffffff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 1.5em;
  border-radius: 8px;
}

main.main div.jobs-container div.job-wrapper div.logo-wrapper {
  height: 70px;
  width: 70px;
  border-radius: 17px;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -49px;
}

main.main div.jobs-container div.job-wrapper div.details-wrapper {
  margin-bottom: 2em;
}

main.main div.jobs-container div.job-wrapper div.details-wrapper h3 {
  font-weight: 400;
  color: #6e8098;
}

main.main div.jobs-container div.job-wrapper div.details-wrapper h2.job-title {
  margin: .4em 0;
}

main.main div.jobs-container div.job-wrapper div.location-wrapper h3 a {
  color: #5762e0;
}
/*# sourceMappingURL=style.css.map */