// primary colors
$violet: hsl(235, 69%, 61%);
$light_violet: hsl(235, 82, 77);
$very_dark_blue: hsl(219, 29, 14);
$midnight: hsl(220, 29, 10);

// secondary colors
$white : #ffffff;
$light_grey: #f4f6f8;
$grey: #9daec2;
$dark_grey: #6e8098;

$padding: 1.5em;
$border-radius: 8px;
$box-shadow: 0 0 3px rgba(0,0,0,.2);
$logo-radius: 17px;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    font-weight: 400;
}

body {
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;

    .dark-app {
        background: $midnight;
        color: $white;

        div.search-container {
            background: $very_dark_blue;
            input[type=text] {
                color: #fff;
                &::placeholder {
                    // color: $white;
                }
            }
        }

        main.main {
            div.jobs-container {
                div.job-wrapper {
                    background: $very_dark_blue;
                }
            }
        }
    }

    .light-app {
        background: $white;
        color: $very_dark_blue;
    }

    .app {
        min-height: 100vh;
        transition: 300ms;
    }
}

button,input {
    background: transparent;
    font-size: 1em;
}

h1 {
    font-size: 28px;
    line-height: 34px;
}

h2 {
    font-size: 24px;
    line-height: 29px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
}

h4 {
    font-size: 14px;
    line-height: 18px;
}

div.navigation-wrapper {
    background: $violet;
    color: $white;
    padding: $padding;
    height: 136px;
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    nav.navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        div.toggle-wrapper {
            display: flex;
            width: 120px;
            justify-content: space-between;
            align-items: center;
        }

        // div.toggleContainer 

        div.toggle-container {
            label {
                width: 60px;
                    height: 30px;
                    background: $white;
                    padding: 3px;
                    border-radius: 15px;
                    position: relative;
                    display: flex;
                    align-items: center;
                input[type=checkbox] {
                    position: absolute;
                    opacity: 0;
                    height: 0;
                    width: 0;
                    &:checked ~ span.toggle-container{
                            -webkit-transform: translateX(60px - 25px);
                            transform: translateX(60px - 25px);
                            transition: transform 300ms;
                            -webkit-transition: transform 300ms;
                            -webkit-transition: -webkit-transform 300ms;
                        
                    }
                }

                span.toggle-container {
                        display: inline-block;
                        position: absolute;
                        height: 18px;
                        width: 18px;
                        background: $violet;
                        border-radius: 25px;
                        transform: translateX(0px);
                        -webkit-transform: translateX(0px);
                        transition: transform 300ms;
                        -webkit-transition: transform 300ms;
                        -webkit-transition: -webkit-transform 300ms;
                }
                }
            }
        }
    }

    div.search-container {
        height: 80px;
        background: $white;
        width: 100%;
        position: relative;
        top: 50px;
        padding: 0 $padding;
        display: flex;
        
        align-items: center;
        // justify-content: space-evenly;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        div.mobile-search {
            display: grid;
            align-items: center;
            width: 100%;
            grid-template-columns: 1fr 48px 48px;
            button {
                height: 48px;
                width: 48px;
                &.mobile-submit {
                    background: $violet;
                    border-radius: $border-radius;
                    font-weight: bold;
                }
            }
        }
    }

    main.main {
        padding: 8em 1.5em;
        div.jobs-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 3.5em;
            div.job-wrapper {
                background: $white;
                box-shadow: $box-shadow;
                padding: $padding;
                border-radius: $border-radius;
                div.logo-wrapper {
                    height: 70px;
                    width: 70px;
                    border-radius: $logo-radius;
                    padding: $padding;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    top:  -49px;
                }

                div.details-wrapper {
                    margin-bottom: 2em;
                    h3 {
                        font-weight: 400;
                        color: $dark_grey;
                    }

                    h2.job-title {
                        margin: .4em 0;
                    }
                }

                div.location-wrapper {
                    h3 {
                        a {
                            color: $violet;
                        }
                    }
                }
            }
        }
    }
